<!-- footer -->
<footer class="page-footer">
  <div class="navbar-dark bg-dark">
    <div class="pleft text-light" i18n="@@footerName">
      © 2020&nbsp;Ameri100.
      <span class="pl-5">
        {{version}}
      </span>
    </div>
    <div class="align-center text-light custom-nav-spacing">
      <a href="https://ameri100.com/terms-of-use" i18n="@@footerterms">Terms of Use</a> |
      <a href="https://ameri100.com/careers_" i18n="@@footerCareers">Careers</a> |
      <a href="https://ameri100.com/services" i18n="@@footerAccess">Services</a> |
      <a href="https://ameri100.com/trademark-information" i18n="@@footerTrademarks">Trademarks</a> |
      <a href="https://ameri100.com" i18n="@@footerCASupply">CA Supply Chains Act</a>
      |
      <a href="https://ameri100.com" i18n="@@footerCaPR">CA Privacy Rights</a> |
      <a href="https://ameri100.com" i18n="@@footerPrivacyPolicy">Privacy Policy</a> |
      <a href="https://ameri100.com" i18n="@@footerNotSell">Do Not Sell My Personal
        Information</a>
    </div>
  </div>
</footer>
