.jumbo-info {
  margin-left: 7em;
}

th {
  text-transform:none;
}
.filter-row {
  background: whitesmoke;
}
.icon {
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(
    circle farthest-corner at 0.7% 2.3%,
    white 0%,
    white 100.2%
  );
  border-radius: 5px;
  border-radius: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 4rem;
}

.custom-hover:hover {
  cursor: pointer;
}

.custom-row-align .form-row {
  align-items: center;
}

.custom-row-align .form-row.custom-radio-align {
  align-items: baseline;
}

.custom-badge-spacing {
  margin-right: 1em;
}

.button-fix {
  float: none;
}

.responsive-table-fix {
  display: inline-table;
}

th {
  min-width:13rem;
  color: white;
}

.custom-date {
  /* padding-bottom: 1rem; */
  display: flex;
  align-items: center;
}
.ad-user /* input */ {
  max-width: 44rem;
  padding-bottom: 2rem;
}
.created-date {
  max-width: 160px;
}
.pl40 {
  padding-left: 40px;
}



@media (max-width:600px) {
  .input-width {
    max-width: 270px;
  }
  .created-date {
    min-width: 50vw;
    max-width: 50vw;
  }
  .pl40 {
    padding-left: 10px;
  }
}


.tableClassName tbody {
display: block;
max-height: 56vh;
/* overflow-x: visible !important; */
}

.tableClassName thead, .tableClassName tfoot, .tableClassName tbody tr {
display: table;
width: 2625px;
table-layout: fixed;
}
.tableClassName thead {
width: calc( 2625px );
position: sticky;
top: 0;
}

.tableClassName tfoot {
width: calc( 2625px );
position: sticky;
bottom: 0;
}
.tableClassNameMin thead, .tableClassNameMin tfoot, .tableClassNameMin tbody tr {
  display: table;
  width: 2310px;
  table-layout: fixed;
  }
  .tableClassNameMin thead {
  width: calc( 2310px );
  position: sticky;
  top: 0;
  }

  .tableClassNameMin tfoot {
  width: calc( 2310px );
  position: sticky;
  bottom: 0;
  }
table .w90 {
  width: 90px;
}
table .w105 {
  width: 105px;
}
table .w210 {
  width: 210px;
}
table .w125 {
  width: 125px;
}
/*
/* }
table .cell2{
  width: 2%;
}
table .cell3{
  width: 3%;
}

table .cell4{
  width: 4%;
} */
