<div class="jumbofix jumbotron">
  <div class="jumbo-content">
    <!-- <img
      src="https://placehold.it/50x50"
      class="icon float-left clearfix shadow-lg"
    /> -->
    <div class="icon float-left clearfix shadow-lg">
      <i class="pe-7s-network"></i>
    </div>

    <div class="jumbo-info">
      <h5>Rule Change Request</h5>
      <p>Request to review and approve rule changes</p>
    </div>
  </div>
</div>

<div class="card m-1 p-1 shadow-lg">
  <a (click)="onHomeClick()"><!-- <img src="http://placehold.it/50x50"/> --> <span class="custom-lg-div-btn text-muted"><i class="pe-7s-home"></i></span> </a>
  <div class="card m-1 p-1 shadow-lg">
    <div class="card m-1 overflow-auto shadow-lg">
      <table class="table table-striped table-bordered m-0">
        <thead>
          <tr>
            <th>Company Code</th>
            <th>User</th>
            <th>Manager</th>
            <th>Cost Center</th>
            <th>MG1</th>
            <th>MG2</th>
            <th>MG3</th>
            <th>MG4</th>
            <th>MG5</th>
            <th>MG6</th>
            <th>MG7</th>
            <th>MG8</th>
            <th>MG9</th>
            <th>FG</th>
            <th>F1</th>
            <th>F2</th>
            <th>C2</th>
            <th>1000</th>
            <th>2000</th>
            <th>4100</th>
            <th>4200</th>
            <th>4300</th>
            <th>5000</th>
            <th>5100</th>
            <th>5200</th>
            <th>5300</th>
            <th>5900</th>
            <th>6000</th>
            <th>6100</th>
            <th>6200</th>
            <th>Change Date</th>
            <th>Changed By</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <td colspan="33">
              <p>Data will be gathered from API at a later time.</p>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
