<!--Jumbotron A-->
<div class="jumbofix jumbotron">
  <div class="jumbo-content">
    <div
      class="icon float-left clearfix shadow-lg"
    >
      <i class="pe-7s-note"></i>
    </div>
    <div class="jumbo-info">
      <h5>Purchase Request Form</h5>
      <a class="text-primary" (click)="onNcrequestClick()"
        >Click here to create a purchase request form</a
      >
    </div>
  </div>
</div>

<!--Jumbotron B-->
<div class="jumbotron">
  <div class="jumbo-content">
    <div
      class="icon float-left clearfix shadow-lg"
    >
      <i class="pe-7s-bookmarks"></i>
    </div>
    <div class="jumbo-info">
      <h5>Catalog Based Purchase Request Form</h5>
      <a class="text-primary" title="currently disabled"
        >Click here to create a catalog based purchase request form</a
      >
    </div>
  </div>
</div>
