.min-width-15 {
  min-width: 15em !important;
}

.min-width-7 {
  min-width: 7em !important;
}

.min-width-3 {
  min-width: 5em !important;
}
.min130 {
  min-width: 130px;
}
.min100 {
  min-width: 100px;
}
