.icon {
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(
    circle farthest-corner at 0.7% 2.3%,
    white 0%,
    white 100.2%
  );
  border-radius: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 4rem;
}

.jumbo-info {
  margin-left: 7em;
}

canvas {
  max-width: 500px;
  display: block;
  width: 287px;
  height: 143px;
}

.req-card {
  width: auto;
  max-width: 500px;
}

.bg-midnight-bloom {
  background: rgb(70,5,84);
background: linear-gradient(164deg, rgba(70,5,84,1) 0%, rgba(0,40,116,1) 64%, rgba(0,86,103,1) 100%);
}
